<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techbearcave.notetaker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.techbearcave.AYDY.NavigationMenu" 
            android:label="@string/title_activity_navigation_menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity><activity
            android:name="com.techbearcave.AYDY.ListNotesActivity"
            android:label="@string/title_activity_list_notes" >
            
        </activity>
        <activity
            android:name="com.techbearcave.AYDY.EditNoteActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.techbearcave.AYDY.LogInPage"
            android:label="@string/title_activity_log_in_page" >
        </activity>
        <activity
            android:name="com.techbearcave.AYDY.User"
            android:label="@string/title_activity_user" >
        </activity>
        <activity
            android:name="com.techbearcave.AYDY.EditTaskActivity"
            android:label="@string/title_activity_edit_task" >
        </activity>
        <activity
            android:name="com.techbearcave.AYDY.ListTasksActivity"
            android:label="@string/title_activity_list_tasks" >
        </activity>
    </application>

</manifest>
